.testimonial {
  position: relative;
  padding: 45px 0;
}

.testimonial .testimonial-item {
  position: relative;
  margin: 0 15px;
  text-align: center;
}

.testimonial .testimonial-img {
  position: relative;
  margin-bottom: 15px;
  z-index: 1;
}

.testimonial .testimonial-item img {
  margin: 0 auto;
  width: 150px;
  border: 15px solid #ffffff;
  border-radius: 100px;
}

.testimonial .testimonial-content {
  position: relative;
  margin-top: -90px;
  padding: 100px 25px 25px 25px;
  text-align: center;
  background: #ffd662;
  border-radius: 5px;
}

.testimonial .testimonial-item p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.testimonial .testimonial-content h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.testimonial .testimonial-content h4 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.testimonial .owl-nav,
.testimonial .owl-dots {
  margin-top: 15px;
  text-align: center;
}

.testimonial .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffd662;
}

.testimonial .owl-dot.active {
  background: #00539c;
}
